{% extends 'base.html.twig' %}

{% block title %}Ruta index{% endblock %}

{% block body %}
    <h1>Ruta index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rutum in rutas %}
            <tr>
                <td>{{ rutum.id }}</td>
                <td>{{ rutum.nom }}</td>
                <td>
                    <a href="{{ path('ruta_Mostrar', {'id': rutum.id}) }}">Mostrar</a>
                    <a href="{{ path('ruta_edit', {'id': rutum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ruta_new') }}">Crear nou</a>
{% endblock %}
