{% extends 'base.html.twig' %}

{% block title %}Curs{% endblock %}

{% block body %}
    <h1>Curs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cur.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('curs_index') }}">Tornar a la llista</a>

    <a href="{{ path('curs_edit', {'id': cur.id}) }}">edit</a>

    {{ include('curs/_delete_form.html.twig') }}
{% endblock %}
