{% extends 'base.html.twig' %}

{% block title %}Escola{% endblock %}

{% block body %}
    <h1>Escola</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ escola.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ escola.nom }}</td>
            </tr>
            <tr>
                <th>Adreca</th>
                <td>{{ escola.adreca }}</td>
            </tr>
            <tr>
                <th>NIF</th>
                <td>{{ escola.NIF }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('escola_index') }}">Tornar a la llista</a>

    <a href="{{ path('escola_edit', {'id': escola.id}) }}">edit</a>

    {{ include('escola/_delete_form.html.twig') }}
{% endblock %}
